.m-navSiteMap {
    width: 100%;
    padding-top: 20px;
    display: flex;
}
.m-containerFooter.-Iphone13 .m-navSiteMap {
    padding-top: 0px;
}
.m-columnSiteMap {
    flex: 1;
}
.a-labelSiteMap h3 {
    color: #1d1d1f;
    margin-bottom: .8em; 
    font-weight: 600;
}
.m-containerSiteMap.-account, .m-containerSiteMap.-forEducation, .m-containerSiteMap.-forHealthCare, .m-containerSiteMap.-forHealthcare, .m-containerSiteMap.-forGovernment, .m-containerSiteMap.-aboutApple{
    padding-top: 24px;
}
.m-ulSiteMap li {
    margin-bottom: .8em;
}
.m-ulSiteMap li a {
    color: #424245;
}