.m-sectionFooterNotes {
    border-bottom: 1px solid #deded7;
    padding: 17px 0 11px;
}
.m-sectionFooterNotes ul li{
    padding-bottom: 0.8em;
}
.m-sectionFooterNotes ol{
    padding: 0 17px;
    list-style: decimal;
}
.m-sectionFooterNotes ol li:last-child{
    padding-bottom: 0;
}