.m-main__sectionUnicef{
    background: #f5f5f7;
}
.m-sectionUnicef__container {
    /* border: 1px solid red; */
    height: 32px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-sectionUnicef__imgLogo{
    width: 122px;
    height: 32px;
}
.m-sectionUnicef__linkText {
    /* border: 1px solid blue; */
    margin-left: 14px;
    font-size: 14px;
}
.m-sectionUnicef__linkText::after{
    content: "􀰾";
    width: 9.7333px;
    height: 14px;
    margin-left: .3em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}