.m-sectionOneColumn__container{
    height: 704px;
}
.a-linkPictureOneColumn.-iphone13 {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/iphone-13/hero_iphone13_avail__gnqqkzuai6um_largetall_2x.jpg");
}
.a-linkPictureOneColumn.-iphone13pro {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/iphone-13-pro/hero_iphone13pro_avail__iy77cld0zwii_largetall_2x.jpg")
}
.a-linkPictureOneColumn.-collegeDeal {
    background-image: url("https://www.apple.com/v/home/aq/images/heroes/back-to-school-2022/hero_bts__bcuslanw39xe_largetall_2x.jpg")
}
.m-containerTextOneColumn {
    padding-top: 47px;
}
.a-titleOneColumn {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.07143;
}
.a-subtitleOneColumn {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.10722;
}
.m-main__sectionOneColumn .m-containerCtaButton {
    margin-top: .65em;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.381;
}
#a-titleOneColumn__supercharged {
    color:rgb(202, 33, 102)
}