.m-sectionLastFooter {
    padding: 34px 0px 21px;
}
.m-sectionLastFooter__text.-moreShops {
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d2d2d7;
}
.a-textLastFooter.-localCountry{
    float: right;
}
.m-sectionLastFooter__container.-legal{
    overflow: hidden;
}
.a-textLastFooter.-copyright, .m-containerLegalLinks {
    float: left;
    margin: 5px 20px 0 0;
}
.a-linksLegal {
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    color: #424245;;
}
.a-linksLegal:last-child {
    border: none;
}

@media only screen and (max-width: 833px){
    .m-sectionLastFooter__text.-moreShops {
        border-bottom: none;
    }
    .a-textLastFooter.-localCountry {
        float: none;
        padding-top: 5px;
        margin-top: 5px;
    }
    .m-sectionLastFooter__container.-legal {
        padding-top: 12px;
    }
}