@import 'reset.css';

* {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}
h1, h2, h3, h3, h4, h5, h6 {
    color: #111;
    font-weight: 600;
}
a {
	text-decoration: none;
    color: #06c;
}
a:hover {
	text-decoration: underline;
}
.a-buttonSearchIcon{
    background-image: url("https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg");
    background-position: 8px 0;
    background-repeat: no-repeat;
    width: 31px;
    height: 44px;
}
.a-buttonSearchIcon.-searchBar{
    position: absolute;
    background-position: 12.5px -44px;
    width: 40px;
    opacity: .8;
}
strong {
    font-weight: 600;
}